<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="cnctHEMM_HMC" value="Data Source=H-HEMMDB;Initial Catalog = HEMM; Provider=SQLNCLI10; Trusted_Connection=Yes;"/>
   <add key="cnctBIAdmin_HMC" value="Data Source=UWM-HEBI1;Initial Catalog = uwm_BIAdmin; Provider=SQLNCLI10; Trusted_Connection=Yes;"/>

    <!-- debug = true directs all emails to dlrjones -->
    <add key="debug" value="true" />   
   <!-- <add key="logFile" value="ItemStatusEmailLog.txt" /> -->
    <add key="logFile" value="ItemStatusEmailLogTEST.txt" />
    <add key="logFilePath" value="\\lapis\h_purchasing$\Purchasing\PMM IS data\Reference Logs\HEMMApps\ReqItemStatus\Logs\hmc\" />
    <add key="unameVariantList" value="\\lapis\h_purchasing$\Purchasing\PMM IS data\Reference Logs\HEMMApps\username.txt"/>
    <add key="attachmentPath" value="\\lapis\h_purchasing$\Purchasing\PMM IS data\Reference Logs\HEMMApps\ReqItemStatus\Attachments\hmc\" />
  </appSettings>
</configuration>